.wrapper {
  width: 281px;
  height: 502px;
  border-radius: 8px;
  overflow: hidden;
}

.video-container {
  position: relative;
}

.video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.icon {
  padding: 5px;
  line-height: 0;
  position: absolute;
  color: var(--white);
  z-index: 1;
  bottom: 35px;
  cursor: pointer;
  left: 20px;
}
