.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-separate-height: 70%;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
  z-index: 10;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

// Actions
.actions {
  display: flex;
  align-items: center;
}

.action-icon {
  position: relative;
  font-size: 2.2rem;
  background-color: transparent;
  color: rgb(22, 24, 35);
  padding: 4px 12px;
  cursor: pointer;

}
.amount{
  position: absolute;
  font-size: 1.2rem;
  min-width: 25px;
  padding: 2px 4px;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--white);
  top: 0;
  right: 0;
  font-weight: 600;
}

.more-btn {
  padding: 4px 8px;
  font-size: 2rem;
  margin-left: 16px;
  background-color: transparent;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
