.wrapper{
    padding-top: 16px;
    padding-left: 8px;
}

.link-container{
    margin-bottom: 8px;
}

.link{
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;

    &:hover{
        text-decoration: underline;
    }
}

.copyright{
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    margin-right: 6px;
    margin-top: 5px;
}